@model CategoryIndexViewModel

@{
    ViewData["Title"] = "Kategorije";
}

<!-- Big Card -->
<div class="card shadow border-0 mt-4">

    <!-- Header -->
    <div class="card-header bg-dark bg-gradient py-2 mb-3">
        <div class="col-12 text-center text-white">
            <h3>@ViewData["Title"]</h3>
        </div>
    </div>

    <!-- Content -->
    <div class="card-body p-4">

        <div class="row mb-4">
            <div class="col col-md-5 col-lg-4">
                <form asp-action="Index" method="GET">
                    <div class="form-floating mb-3">
                        <input type="search" class="form-control shadow border-0" id="searchBox" placeholder="name" value='@Model.CurrentSearch' name="searchString">
                        <label for="searchBox"><i class="bi bi-search me-2"></i>Filter</label>
                    </div>
                </form>
            </div>

            <div class="col align-content-end pb-3">
                <div class="text-end">
                    <a asp-action="Create" class="btn btn-primary">
                        <i class="bi bi-plus-circle me-3"></i>Nova Kategorija
                    </a>
                </div>
            </div>
        </div>

        <table class="table table-hover">
            <thead>
                <tr>
                    <th scope="col" class="bg-light">
                        <a asp-action="Index" asp-route-sortOrder="@Model.IdSortParameter" asp-route-searchString='@Model.CurrentSearch' asp-route-pageNumber="@(Model.PageNumber)">
                            @Html.DisplayNameFor(model => model.Categories!.First().Id)
                            @if (@Model.CurrentSort == CategoryIndexViewModel.SORT_ID_ASC)
                            {
                                <i class="bi bi-caret-up-fill"></i>
                            }
                            else if (@Model.CurrentSort == CategoryIndexViewModel.SORT_ID_DESC)
                            {
                                <i class="bi bi-caret-down-fill"></i>
                            }
                        </a>
                    </th>
                    <th scope="col" class="bg-light w-50">
                        <a asp-action="Index" asp-route-sortOrder="@Model.NameSortParameter" asp-route-searchString='@Model.CurrentSearch' asp-route-pageNumber="@(Model.PageNumber)">
                            @Html.DisplayNameFor(model => model.Categories!.First().Name)
                            @if (@Model.CurrentSort == CategoryIndexViewModel.SORT_NAME_ASC)
                            {
                                <i class="bi bi-caret-up-fill"></i>
                            }
                            else if (@Model.CurrentSort == CategoryIndexViewModel.SORT_NAME_DESC)
                            {
                                <i class="bi bi-caret-down-fill"></i>
                            }
                        </a>
                    </th>
                    <th scope="col" class="bg-light">Alati</th>
                </tr>
            </thead>

            <tbody>
                @foreach (var item in Model.Categories!)
                {
                    <tr>
                        <td>
                            @item.Id
                        </td>

                        <td>
                            @item.Name
                        </td>

                        <td class="text-nowrap d-flex align-items-center">
                            <a class="btn btn-primary btn-sm me-2 px-1 px-sm-2 px-md-4" asp-action="Update" asp-route-id="@item.Id"><i class="bi bi-pencil-square me-1 me-sm-2"></i>Izmeni</a>

                            <form asp-action="Delete" asp-route-id="@item.Id" onsubmit=@Utilities.DELETE_CONFIRMATION_ONSUBMIT_FORM_CALL class="d-inline" method="post">
                                @Html.AntiForgeryToken()
                                <input type="hidden" asp-for="@item.Id" />
                                <button type="submit" class="btn btn-danger btn-sm px-1 px-sm-2 px-md-4">
                                    <i class="bi bi-trash-fill me-1 me-sm-2"></i>Obriši
                                </button>
                            </form>
                        </td>
                    </tr>
                }
            </tbody>
        </table>

        <!-- Paginacija -->
        <nav class="mt-4">
            <ul class="pagination">
                @if (Model.HasPreviousPage)
                {
                    <li class="page-item">
                        <a class="page-link" asp-action="Index" asp-route-pageNumber="@(Model.PageNumber - 1)" asp-route-sortOrder="@Model.CurrentSort" asp-route-searchString="@Model.CurrentSearch">Prethodna</a>
                    </li>
                }
                else
                {
                    <li class="page-item disabled">
                        <a class="page-link" href="#">Prethodna</a>
                    </li>
                }

                @for (int i = 1; i <= Model.TotalPages; i++)
                {
                    <li class="page-item @(i == Model.PageNumber ? "active" : "")">
                        <a class="page-link" asp-action="Index" asp-route-pageNumber="@i" asp-route-sortOrder="@Model.CurrentSort" asp-route-searchString="@Model.CurrentSearch">@i</a>
                    </li>
                }

                @if (Model.HasNextPage)
                {
                    <li class="page-item">
                        <a class="page-link" asp-action="Index" asp-route-pageNumber="@(Model.PageNumber + 1)" asp-route-sortOrder="@Model.CurrentSort" asp-route-searchString="@Model.CurrentSearch">Sledeća</a>
                    </li>
                }
                else
                {
                    <li class="page-item disabled">
                        <a class="page-link" href="#">Sledeća</a>
                    </li>
                }
            </ul>
        </nav>
    </div>
</div>


@section Scripts
{
    @* Osvezi stranu kod filtriranja *@
    <script>
        document.addEventListener('DOMContentLoaded', function () {
            var searchBox = document.getElementById('searchBox');

            searchBox.addEventListener('input', function () {
                if (searchBox.value === '') {
                    searchBox.form.submit();
                }
            });
        });
    </script>
}